### Gradle ###
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Android Studio / IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

# Кэш Compose Previews
.idea/preview*

# Captures и профайлы
captures/
*.hprof

### Android ###
local.properties
*.log
output.json

# Keystore
*.jks
*.keystore
key.properties

### Kotlin / Java ###
*.class
*.kotlin_module

# (KSP / KAPT / Hilt / Room / Compose)
**/build/generated/
**/build/intermediates/
**/build/tmp/

### OS files ###
.DS_Store
Thumbs.db

### NDK / CMake ###
.cxx/
.externalNativeBuild/